.cardpage-container {
    margin-left: 5%;
    height: 100%;
    background-color: #06011a;
  }
  
.toAlign {
  display: flex;
  justify-content: space-between;
  margin-right: 1%;
}

.ressource{
    margin-top: 15%;
}

.deconnect{
    margin-left:50%;
    padding: 15px 20px;
    background-color: #652f6b;
}
.deconnect:hover{
  background-color: #542958;
}

hr{
    margin-top: 13.8%;
}