.cardpage-container {
    margin-left: 5%;
    height: 100%;
    background-color: #06011a;
  }
  
.toAlign {
  display: flex;
  justify-content: space-between;
  margin-right: 1%;
}

.ressource{
    margin-top: 15%;
}

.deconnect {
  padding: 15px 30px;
  background-color: #1caa23; 
  border-radius: 5px; 
  border:none;
  font-size: 20px;
}

.deconnect:hover {
  background-color: #397213; 
}


hr{
    margin-top: 13.8%;
}