/* Add this CSS to your stylesheet */
.card-link {
    text-decoration: none;
  }
  
  .card {
    width: 200px; 
    height: 200px; 
    background-color: #fff;
    border-radius: 10px; /* Set the border radius to create rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card:hover {
    transform: scale(1.05); /* Add a scale effect on hover for a subtle interaction */
  }
  
  .card-image {
    width: 80px; /* Set the width of the image */
    height: 80px; /* Set the height of the image */
    object-fit: cover; /* Maintain aspect ratio while covering the image container */
    border-radius: 50%; /* Make the image round */
  }
  
  .card-title {
    font-size: 1.2rem; /* Customize the title font size */
    margin: 8px 0;
  }
  
  .card-description {
    font-size: 0.9rem; /* Customize the description font size */
    color: #777;
    text-align: center;
  }
  