.cardpage-container {
    margin-left: 5%;
    height: 100%;
  }
  
  .toAlign {
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
  }

.ressource{
    margin-top: 15%;
}

.deconnect{
    margin-left:50%;
    background-color: red;
}

hr{
    margin-top: 13.8%;
}