.card-link {
    text-decoration: none;
  }

  .green-state {
    background-color: green;
  }
  
  .red-state {
    background-color: red;
  }
  
  .state-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  

  .link{
    text-decoration: none;
  }
  
  .card {
    width: 220px; 
    height: 220px; 
    background-color: #110f18;
    border : 2px solid #fafaf1;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .card:hover {
    transform: scale(1.02); 
  }
  
  .card-image {
    width: 80px;
    height: 80px; 
    object-fit: cover; 
    border-radius: 50%; 
  }

  .internet-img{
    width: 15px;
    height: 20px;
  }
  
  .card-title {
    font-size: 1.2rem; 
    margin: 8px 0;
  }
  
  .card-description {
    font-size: 0.9rem;
    color: #777;
    text-align: center;
  }
  