.main-container {
  display: flex;
  flex-direction: column;
  background-color: #06011a;
  color: #e4e4e4;
  width: 100%; 
  padding: 20px; 
  box-sizing: border-box; 
}

.crud-container {
  font-family: Arial, sans-serif;
  background-color: #06011a;
  color: #e4e4e4; 
  width: 95%;
  margin-left: 5%;
  border-radius: 5px;
  padding: 20px; 
  box-sizing: border-box; 
}

.table-wrapper {
  overflow-x: auto; 
  background-color: #06011a; 
  border-radius: 5px;
  margin-top: 20px; 
  padding: 10px; 
  box-sizing: border-box; 
}


.crud-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #06011a; 
  border-radius: 0 0 10px 10px;
  color: #e4e4e4; 
}
.crud-table th,
.crud-table td {
  padding: 20px;
  text-align: right;
  border-bottom: 1px solid #444; 
}


.crud-table th {
  font-weight: bold;
  color: #e4e4e4; 
  border-top: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4; 
}

.crud-table tr:nth-child(even) {
  background-color: #06011a; 
}

@media screen and (max-width: 768px) {
  .table-wrapper {
    width: 100%;
  }

  .crud-table th,
  .crud-table td {
    text-align: center;
    padding: 10px; 
  }

  .add-button {
    margin-left: 0; 
    margin-top: 10px; 
  }

  .add-button-icon {
    padding: 10px 20px; 
    font-size: 14px; 
  }
}

.crud-table button {
  background-color: #ff6b00; 
  color: #e4e4e4; 
  border: none;
  padding: 10px 20px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.crud-table button:hover {
  background-color: #E7BFEA; 
}

.crud-table .delete-button {
  background-color: #BF5CC8; 
}

.crud-table .delete-button:hover {
  background-color: #903499; 
}

/* SEARCH */
.search-container {
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left:0.7%;
  display: inline-block;
  position: relative;
  background: #06011a; 
  border: 1px solid #444; 
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  color: #e4e4e4; 
  background-color: #06011a; 
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #ff6b00; 
}

.clear-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.clear-button svg {
  color: #ff6b00; 
}

.search-icon.hidden {
  opacity: 0;
}

/* Add button container */
.add-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.add-button-icon {
  background-color: #489c40;
  margin-left: 10px;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.add-button-icon:hover {
  background-color: #2a7523;
}

.delete-icon {
  color: #fff;
  border: none;
  padding-left: 20px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.delete-icon:hover {
  background-color: #903499;
}
