.not-found-container {
  min-height: 50vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.not-found-header {
  font-size: 10rem;
  color: #000000;
}

.not-found-message {
  font-size: 3rem;
  color: #333;
}

.back-to-home-link {
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.back-to-home-link:hover {
  color: #0056b3;
}
