.ressource-container {
  width: 380px;
  background-color: #110f18;
  height: 660px;
  overflow: auto;
  border: 2px solid #fafaf1;
  border-radius: 10px;
  color: white;
}

.machine-info p,
.ressource-info p {
  margin: 5px 0;
}

.ressource-container hr {
  border: 2px solid #fafaf1;
  margin: 20px 0;
}


.red-bar {
  background-color: red;
  color: red;
}

.clear-cache{
  margin-left: 70%;
  margin-top: 50%;;
}
