.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Align items with space between */
  align-items: center; /* Center items horizontally */
  width: 70px;
  background-color: #110f18;
  height: 100%;
}

.sidebar img {
  width: 35px;
  height: 35px;
}

.sidebar .active {
  background-color: #fafaf1;
}



.sidebar button {
  background-color: #110f18;
  width: 100%;
  border: none;
}

select {
  background-color: #110f18;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    padding: 10px;
    align-items: flex-start; /* Align items to the start for small screens */
  }

  .main-content {
    margin-left: 0;
  }
}
