.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #110f18;
  padding-top: 30px;
  border-radius: 5px;
  border: 2px solid #fafaf1;
}

.sidebar a {
  padding: 15px 10px;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.sidebar .nav-link img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.sidebar .nav-link:hover {
  background-color: #FFFF;
}

.sidebar a:hover {
  background-color: #555;
  color: #fff;
}

.sidebar .active {
  background-color: #555;
}

.main-content {
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    padding: 10px;
    position: relative;
  }

  .main-content {
    margin-left: 0;
  }
}
