
.main-container {
  display: flex;
  flex-direction: column;
  background-color: #1a1a2e;
  color: #e4e4e4;
  width: 100%; /* Make the sidebar full width */
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box; /* Include padding in width */
}
/* Sidebar Container */
.sidebar {
    height: 100%;
    width: 5%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333; /* Sidebar background color */
    padding-top: 30px;
    border-radius: 5px;
  }
  
  /* Sidebar Links */
  .sidebar a {
    padding: 15px 10px;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    color: #fff; /* Link text color */
    display: block;
    transition: 0.3s;
  }

  .sidebar .nav-link {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 100%; /* Add a width to constrain the size */
    overflow: hidden; /* Hide overflow content */
  }
  
  .sidebar .nav-link img {
    width: 35px; /* Adjust the icon width as needed */
    height: 35px; /* Adjust the icon height as needed */
    margin-right: 10px; /* Add spacing between image and text */
  }
  
  /* Add hover styles */
  .sidebar .nav-link:hover {
    background-color: #FFFF; /* Add your hover background color */
  }
  
  
  /* You can adjust the margin-right value to control the spacing between the image and text as desired. */
  
  /* Sidebar Links on Hover */
  .sidebar a:hover {
    background-color: #555; /* Hover background color */
    color: #fff;
  }
  
  /* Active Link */
  .sidebar .active {
    background-color: #555; /* Active link background color */
  }
  
  /* Main content (pushed to the right) */
  .main-content {
    margin-left: 250px; /* Adjust this value to match the sidebar width */
    padding: 20px;
  }
  
  /* Mobile responsive sidebar */
  @media screen and (max-width: 600px) {
    .sidebar {
      width: 100%;
      padding: 10px;
      position: relative;
    }
    .main-content {
      margin-left: 0;
    }
  }
  