.terminal-container {
    width: 700px;
    margin-top: 2.8%;
    background-color: black;
    height: 360px; /* Adjust the height as needed */
    overflow: auto;
    border: 1px solid #ccc; /* Optional: Add a border for visual separation */
  }
  