.terminal-container {
    width: 700px;
    margin-top: 2.8%;
    background-color: #110f18;
    height: 400px; /* Adjust the height as needed */
    overflow: auto;
    border-radius: 10px;
    border: 2px solid #fafaf1;
  }
  